/* Card Image Styling */
.card-img-top {
  height: 280px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Hover Effect on Card */
.team-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(73, 73, 73, 0.2);
  padding: 2px;
}

  .card-img-top{
    border-radius: 50%;
    width: 200px;
    height:200px;
    object-fit: fill;
    padding: 2px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  }

  .card{
    display: flex;
    align-items: center;
  }

.team-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Title and Text Styling */
.card-title {
  font-weight: bold;
}

.card-text {
  color: #555;
}

/* Responsive Nav Links */
nav a {
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffc107;
  text-decoration: underline;
}
